@model BiblioSol.Web.Models.Insurance.NetworkType.NetworkTypeGetDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NetworkTypeGetDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.NetworkTypeId  }) |
    <a asp-action="Index">Back to List</a>
</div>
